/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 10 */

.header {}

.container {
	width: 80%;
	margin: 0 auto;
}
.container:after {
	clear: both;
	visibility: hidden;
	content: "";
	display: block;
}

.sidebar {
	width: 30%;
	height: 400px;
	float: left;
}

.main-content {
	width: 70%;
	height: 400px;
	float: left;
}
/*div {
	border: 1px solid black;
}*/

.sub-content {}

.footer {}

/* what do you have to add to make the sidebar and content and footer not be the full width of the browser? */