/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 08 */

.container {
	width: 1024px;
	margin: 0 auto;
}

.header:after {
	clear:both;
	display: block;
	visibility: hidden;
	content: "";
}


.sidebar {
	float:left;
	height: 400px;
	width: 328px;
}

.main-content {
	float:left;
	height: 400px;
	width: 328px;
}

.sub-content {
	float:left;
	height: 400px;
	width: 328px;
}


.footer {
	clear: both;
}

div {
	border:black;
}