/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 12 */

.container {
	width: 40%;
	margin: 0 auto;
	/*border: 1px solid blue;*/
}
/* To Do List */
.todolist {
	margin: 0 auto;
	/*border: 1px solid blue;*/
	width: 100%;
}
.todolist:after {
	visibility: hidden;
	clear: both;
	display: block;
	content: "";
}

/* Individual Todo */
.todo {
	float: left;
	width: 100%;
	border: 1px solid blue;
}


/* Priority icon dot */
.icon {
	float:left;
	border: 1px solid blue;
	margin-left: 2%;
	margin-top: 2%;
}

/* Info of the todo, title and date */
.todo-info {
	border: 1px solid blue;
	float:left;
	margin-top:4%;
	margin-left: 2%;
}
.todo-info:after {
	display: block;
	content: "";
	visibility: hidden;
	clear: both;
}

/* Title */
.todo-title {
	float:left;
	border: 1px solid blue;
	font-size: 28px;
	display: block;
	width: 100%;
	font-family: Helvetica;
}

/* Date */
.todo-date {
	border: 1px solid blue;
	display: block;
	font-family: Helvetica;
	margin-bottom: 10px;
}
.date-note {
	border: 1px solid blue;
	font-family: Helvetica;
	margin-bottom: 10px;

}

/* Checkboxes! */
.check {
	border: 1px solid blue;
	margin-top: 5%;
	margin-left: 5%;
	/*float:left;*/
}
input[type=checkbox] {
	float:right;
}