/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 07 */

.container {
	width: 1024px; /* change me to a percentage width, like 80% */
	margin: 0 auto;
}


.header:after {
	content: "";
	clear:both;
	display:block;
	visibility: hidden;
}

.logo {
	float:left;
	width: 250px;
}

.navigation {
	float:left;
	width: 694px;
}

.sidebar {
	float:left;
	height:200px;
}

.main-content:after {
	content: "";
	clear:both;
	display:block;
	visibility: hidden;
}

.sub-content {
	float:right;
	height: 100px;
	width: 830px;
}

.sub-content-2 {
	float:right;
	height: 100px;
	width: 830px;
}

.footer {}
